<div class="page-content">

  <div class="page-header-area">
    <p class="header">Expense page</p>
  </div>

  <div class="form-area">

    <div class="form-header">
      <p>Expenses</p>
    </div>

    <div class="date-selection">
      <!-- <mat-form-field>
        <mat-select placeholder="Month" [(value)]="expense.month" name="month">
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{month.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Year" type="number" [(ngModel)]="expense.year">
      </mat-form-field> -->

      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="column-section">

      <div class="form-column">
        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Food" [(ngModel)]="expense.food">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Gas" [(ngModel)]="expense.gas">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="expense.household" placeholder="Household">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="expense.clothing" placeholder="Clothing">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="expense.misc" placeholder="Miscellaneous">
        </mat-form-field>

      </div>

      <div class="form-column">
        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Mortgage" [(ngModel)]="expense.mortgage">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" placeholder="Utilities" [(ngModel)]="expense.utilities">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="expense.home" placeholder="Home">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput type="number" [(ngModel)]="expense.tuition" placeholder="Tuition">
        </mat-form-field>
      </div>

    </div>

    <div class="button-area">
      <button mat-raised-button (click)="saveExpense()">Save</button>
    </div>
  </div>
</div>
