<div class="page-content">

  <div class="page-header-area">
    <p class="header">About page</p>
  </div>

  <div class="about-area">
    <div class="about-header">
      <div class="image-area">
        <img src="/assets/images/self-portrait.jpg">
      </div>
      <div class="title">
        <p class="header-title">Chaim Weiss</p>
        <p class="header-subtitle">Software Developer</p>
      </div>

    </div>
    <div class="about-content">
      <p class="about-text">I am a a software developer with experience using the MEAN stack, Angular, Node, Mongo and more.
        In my experience as a developer I've created a lot of cool stuff, beside this website. Feel free to reach out to me to hear all
        about it.<br>
      This Website<br>
      This website you are currently enjoying is complete website including: a back-end made with Node, hooked up with MongoDB for the
      database and you are curerntly looking at an Angular fornt-end, version 6(latest). As you can see it includes login, authentication (JWT),
      routing, emails and more. If you have any questions about how I did some of this or suggestions or even complaints, I would love to hear any
      of it. So please give me a <a routerLink="/tracker/contact">shout out</a></p>

    </div>

  </div>
</div>
