<div class="page-content">

  <div class="page-header-area">
    <p class="header">About page</p>
  </div>

  <div class="about-area">
    <div class="image-area"></div>
    <div class="about-header">
      <p class="header-title">Chaim Weiss</p>
      <p class="header-subtitle">Software Developer</p>
      <p class="about-text">I am a a software developer with experience using the MEAN stack, Angular, Node, Mongo and more.
      In my experience as a developer I've created a lot of cool stuff, beside this website. Feel free to reach out to me to hear all
      about it.</p>
    </div>
  </div>
</div>
