<div class="page-content">

  <div class="page-header-area">
    <h1 class="header">About page</h1>
  </div>

  <div class="about-area">
    <div class="about-header">
      <div class="image-area">
        <img class="rotate-180" src="/assets/images/selfie2.jpg">
      </div>
      <div class="title">
        <h1 class="bootstrap-heading">Chaim Weiss</h1>
        <h4 class="bootstrap-heading">Software Developer</h4>
      </div>

    </div>
    <div class="about-content">
      <p class="about-text">I am a a software developer with experience using the MEAN stack, Angular, Node, Mongo and more.
        In my experience as a developer I've created a lot of cool stuff, beside this website. Feel free to reach out to me to hear all
        about it.</p><br>
      <h4>This Website</h4><br>
      <p>This website you are currently enjoying is a complete website including: a back-end made with Node, hooked up with MongoDB for the
      database and you are curerntly looking at an Angular front-end, version 6(latest). As you can see it includes login, authentication (JWT),
      routing, emails and more. If you have any questions about how I did some of this or suggestions or even complaints, I would love to hear any
      of it. So please give me a <a routerLink="/tracker/contact">shout out</a></p>

    </div>

  </div>
</div>
