@import '../../../../styles/app-colors';



.about-area {
  width: 65%;

  margin: 0 auto;

  background-color: $componentBackground;
  border-radius: 7px;
  border: 1px solid $borderGrey;
}

.about-header {
  display: flex;
  padding: 30px;

  .image-area {
    position: relative;
    //padding: 4px;
  }

  img {
    width: 150px;
    height: 150px;

    margin: 0 20px;

    border-radius: 7px;
    border: 3px solid rosybrown;
  }

  .title {
    margin: 0 20px;
  }

  .header-title {
    //color: $componentWhite;
    font-size: xx-large;
  }

  .header-subtitle {
    padding: 1px;
    margin: 0;
  }


}

.about-content {
  padding: 30px;
  margin: 10px 5px;
}

.rotate-180 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
