<div class="page-content">

  <div class="page-header-area">
    <p class="header">Contact page</p>
  </div>


  <div class="form-area">

    <div class="form-header">
      <p>Income</p>
    </div>

    <div class="date-selection">
      <!-- <mat-form-field>
        <mat-select placeholder="Month" [(value)]="income.month" name="month">
          <mat-option *ngFor="let month of months" [value]="month.value">
            {{month.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Year" type="number" [(ngModel)]="income.year">
      </mat-form-field>-->

      <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="earning-field">
      <mat-form-field appearance="outline">
        <input matInput type="number" placeholder="Earnings" [(ngModel)]="income.earnings">
      </mat-form-field>
    </div>



    <div class="button-area">
      <button mat-raised-button (click)="saveIncome()">Save</button>
    </div>
  </div>
</div>
