<div class="enroll-page">

  <div class="nav-bar">Finance Tracker</div>



  <div class="enroll-area">
    <div class="enroll-header">
      <p>Login</p>
    </div>
    <div class="enroll-form">
      <mat-form-field appearance="outline">
        <input [(ngModel)]="email" placeholder="Email" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" [(ngModel)]="password" placeholder="Password" matInput>
      </mat-form-field>

      <div class="login-button">
        <button mat-raised-button (click)="login()">Login</button>
      </div>


    </div>

    <div class="links-area">
      <p>Feel free to <a routerLink="/join">Join</a></p>
    </div>
  </div>
</div>
