<div class="enroll-page">
  <h1>Welcome to the join page</h1>

  <div class="enroll-area">
    <div class="enroll-header">
      <p class="header">Join</p>
    </div>
    <div class="enroll-form">

      <mat-form-field appearance="outline">
        <input [(ngModel)]="firstName" placeholder="First Name" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [(ngModel)]="lastName" placeholder="Last Name" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [formControl]="username" placeholder="Username" matInput>
        <mat-error *ngIf="username.hasError('required')">Please enter a username</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input [formControl]="email" placeholder="Email" matInput>
        <mat-error *ngIf="email.invalid">
          Please enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" [formControl]="password" placeholder="Password" matInput>
        <mat-error *ngIf="password.hasError('required')">Please enter a password</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" [formControl]="confirmPassword" placeholder="Password" matInput>
        <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm password</mat-error>
      </mat-form-field>

      <div class="button-area">
        <button mat-raised-button (click)="addUser()">Join</button>
      </div>


    </div>
</div>
</div>
